@use '../styles/mixins' as *;
@import '_normalize.scss';

// Fonts
@font-face {
 font-family: 'Rubik Mono One';
 src: url('/fonts/rubik-mono-one.woff2') format('woff2'),
     url('/fonts/rubik-mono-one.woff') format('woff');
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'Hubot Sans';
 src:
   url('/fonts/hubot-sans.woff2') format('woff2 supports variations'),
   url('/fonts/hubot-sans.woff2') format('woff2-variations'),
   url('/fonts/hubot-sans.woff') format('woff');
 font-weight: 200 900;
 font-stretch: 75% 125%;
}

//Custom Properties
:root {
 // Grid-block
 --grid-block-s: 4px;
 --grid-block-m: 8px;
 --grid-block-l: 16px;
 --grid-block-xl: 24px;
 --grid-block-xxl: 32px;

 // Fonts
 --font-family-body: 'Hubot Sans', sans-serif;
 --font-family-title: 'Rubik Mono One', sans-serif;

 --font-size-xs: 0.75rem; //13px
 --font-size-s: 1rem; //16px
 --font-size-m: 1.333rem; //21px
 --font-size-l: 1.777rem; //28px
 --font-size-xl: 2.3569rem; //38px
 --font-size-xxl: 3.157rem; //51px
 --font-size-xxxl: 4.209rem; //68px
 --font-size-xxxxl: 5.61rem; //90px

 --font-weight-light: 300;
 --font-weight-regular: 400;
 --font-weight-bold: 700;
 --font-weight-extrabold: 800;
 --font-weight-black: 900;

 --font-width-narrow: 75%;
 --font-width-normal: 100%;
 --font-width-wide: 125%;

 // Colors
 --color-primary: #FF595E;
 --color-secondary: #FF9B9E;
 --color-dark: #1A1A1A;
 --color-light: #FFFFFE;

 //Grid
 $grid-gap: 20px;

 --grid-desktop-1: calc((((100% - (11 * $grid-gap)) / 12) * 1) + ($grid-gap * 0)); 
 --grid-desktop-2: calc((((100% - (11 * $grid-gap)) / 12) * 2) + ($grid-gap * 1)); 
 --grid-desktop-3: calc((((100% - (11 * $grid-gap)) / 12) * 3) + ($grid-gap * 2)); 
 --grid-desktop-4: calc((((100% - (11 * $grid-gap)) / 12) * 4) + ($grid-gap * 3)); 
 --grid-desktop-5: calc((((100% - (11 * $grid-gap)) / 12) * 5) + ($grid-gap * 4)); 
 --grid-desktop-6: calc((((100% - (11 * $grid-gap)) / 12) * 6) + ($grid-gap * 5)); 
 --grid-desktop-7: calc((((100% - (11 * $grid-gap)) / 12) * 7) + ($grid-gap * 6)); 
 --grid-desktop-8: calc((((100% - (11 * $grid-gap)) / 12) * 8) + ($grid-gap * 7)); 
 --grid-desktop-9: calc((((100% - (11 * $grid-gap)) / 12) * 9) + ($grid-gap * 8)); 
 --grid-desktop-10: calc((((100% - (11 * $grid-gap)) / 12) * 10) + ($grid-gap * 9)); 
 --grid-desktop-11: calc((((100% - (11 * $grid-gap)) / 12) * 11) + ($grid-gap * 10)); 
 --grid-desktop-12: calc((((100% - (11 * $grid-gap)) / 12) * 12) + ($grid-gap * 11)); 

 --grid-tablet-1: calc((((100% - (7 * $grid-gap)) / 8) * 1) + ($grid-gap * 0)); 
 --grid-tablet-2: calc((((100% - (7 * $grid-gap)) / 8) * 2) + ($grid-gap * 1)); 
 --grid-tablet-3: calc((((100% - (7 * $grid-gap)) / 8) * 3) + ($grid-gap * 2)); 
 --grid-tablet-4: calc((((100% - (7 * $grid-gap)) / 8) * 4) + ($grid-gap * 3)); 
 --grid-tablet-5: calc((((100% - (7 * $grid-gap)) / 8) * 5) + ($grid-gap * 4)); 
 --grid-tablet-6: calc((((100% - (7 * $grid-gap)) / 8) * 6) + ($grid-gap * 5)); 
 --grid-tablet-7: calc((((100% - (7 * $grid-gap)) / 8) * 7) + ($grid-gap * 6)); 
 --grid-tablet-8: calc((((100% - (7 * $grid-gap)) / 8) * 8) + ($grid-gap * 7)); 

 --grid-mobile-1: calc((((100% - (3 * $grid-gap)) / 4) * 1) + ($grid-gap * 0)); 
 --grid-mobile-2: calc((((100% - (3 * $grid-gap)) / 4) * 2) + ($grid-gap * 1)); 
 --grid-mobile-3: calc((((100% - (3 * $grid-gap)) / 4) * 3) + ($grid-gap * 2)); 
 --grid-mobile-4: calc((((100% - (3 * $grid-gap)) / 4) * 4) + ($grid-gap * 3)); 
}

html {
 font-family: var(--font-family-body);
 font-size: 16px;
 color: var(--color-dark);
}

.container {
 width: calc(100% - 48px);
 margin: 0px auto;
 padding-inline: 24px;

 @include lg {
  width: 1000px;

  padding-inline: 40px;
 }
}

.show {
 &--desktop {
  display: none;
 }

 &--mobile {
  display: inherit;
 }

 @include sm {
  &--desktop {
   display: inherit;
  }
 
  &--mobile {
   display: none;
  }
 }
}