---
import BlockHeader from "../blocks/Block_Header.astro";
import BlockIntro from "../blocks/Block_Intro.astro";
import Framework from "../layouts/Framework.astro";
---
<Framework title="Kevin Rombouts.nl">
 <BlockHeader></BlockHeader>
 <main>
  <BlockIntro></BlockIntro>
 </main>
</Framework>