---
import Framework from '../layouts/Framework.astro';
import Header from '../blocks/Block_Header.astro';
---
<Framework title="Kevin Rombouts.nl">
 <Header></Header>
 <h1>Hoi, ik ben Kevin</h1>
</Framework>