---
import BlockHeader from "../blocks/Block_Header.astro";
import BlockIntro from "../blocks/Block_Intro.astro";
import BlockJobs from "../blocks/Block_Jobs.astro";
import BlockWork from "../blocks/Block_Work.astro";
import Framework from "../layouts/Framework.astro";
---
<Framework title="Kevin Rombouts.nl">
 <BlockHeader></BlockHeader>
 <main>
  <BlockIntro></BlockIntro>
  <BlockWork></BlockWork>
  <BlockJobs></BlockJobs>
 </main>
</Framework>

<style lang="scss">
 main {
  overflow: hidden;
 }
</style>