---
import Framework from '../layouts/Framework.astro';
import Logo from '../components/Component_Logo.astro';
---
<Framework title="Kevin Rombouts.nl">
 <Logo></Logo>
 <h1>Hoi, ik ben Kevin</h1>
</Framework>