---
---
<div class="logo">
 <div class="lgoo__icon">
  <svg width="102" height="80" viewBox="0 0 102 80" fill="none" xmlns="http://www.w3.org/2000/svg">
   <g id="Icon" clip-path="url(#clip0_1_9)">
   <path id="Back" d="M98.6186 55.6755C100.318 54.9544 101.167 53.5099 101.167 51.3442V28.4169C101.167 26.1882 100.234 24.7121 98.3639 23.9887L44.1825 1.35437C43.9572 1.28901 43.6732 1.25521 43.3329 1.25521C42.9927 1.25521 42.6411 1.4693 42.2715 1.89521C41.9042 2.32338 41.7194 2.83042 41.7194 3.42085V24.1848C41.7194 26.5465 42.6524 28.0225 44.5228 28.613L77.0479 39.9301L44.5228 51.2473C43.8422 51.511 43.2067 52.018 42.6118 52.773C42.0169 53.5279 41.7194 54.4946 41.7194 55.6755V76.4394C41.7194 77.0299 41.9042 77.5392 42.2715 77.9651C42.6411 78.3932 42.9927 78.6051 43.3329 78.6051C43.6732 78.6051 43.9572 78.5735 44.1825 78.5059L98.6186 55.6755Z" fill="#FF595E"/>
   <path id="Front" d="M3.03775 79.7859C2.3324 79.7859 1.66761 79.4299 1.06141 78.7245C0.500283 78.0732 0.218593 77.2935 0.218593 76.4079V55.6439C0.218593 54.1904 0.603945 52.9623 1.36564 51.9932C2.09127 51.0693 2.90704 50.427 3.78592 50.0868L32.9713 39.8986L3.82423 29.7262C2.19718 29.2101 0.216339 27.8152 0.216339 24.1532V3.38704C0.216339 2.50141 0.500283 1.72394 1.05916 1.07268C1.66761 0.367324 2.3324 0.00901413 3.03775 0.00901413C3.49296 0.00901413 3.88056 0.0563381 4.22085 0.155493L4.3538 0.202817L58.3707 22.8372C59.9685 23.4569 61.9087 24.933 61.9087 28.3831V51.3127C61.9087 54.6592 60.1262 56.1217 58.6321 56.7594L4.29296 79.6192L4.22761 79.6394C3.89183 79.7363 3.50197 79.7859 3.03775 79.7859ZM3.12338 2.43606C3.08282 2.46535 3.0062 2.52845 2.89803 2.65465C2.72225 2.85972 2.64113 3.08732 2.64113 3.3893V24.1532C2.64113 26.5059 3.68226 27.1392 4.58817 27.4276L40.3268 39.9008L4.61972 52.3628C4.1893 52.5296 3.72282 52.9149 3.26761 53.4918C2.84394 54.0304 2.63887 54.7358 2.63887 55.6462V76.4101C2.63887 76.7121 2.71775 76.9397 2.89578 77.1448C3.00394 77.2687 3.07831 77.3318 3.11887 77.3611C3.30817 77.3566 3.42535 77.3386 3.49071 77.3251L57.6811 54.5262C58.4496 54.1994 59.4794 53.5076 59.4794 51.3127V28.3831C59.4794 26.6434 58.8575 25.627 57.4603 25.0862L3.49747 2.47437C3.42535 2.45859 3.30592 2.44056 3.12338 2.43606Z" fill="#FF9B9E"/>
   </g>
   <defs>
   <clipPath id="clip0_1_9">
   <rect width="101.183" height="80" fill="white"/>
   </clipPath>
   </defs>
   </svg>   
 </div>
</div>

<style lang="scss">
 @import "../styles/_colors.scss";
 @import "../styles/_fonts.scss";
 
 #Back {
  fill: $dark;
 }
</style>