---
const { lineWidth } = Astro.props;
---
<div class="wavyLine">
 <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 320 20" xml:space="preserve">
  <g>
   <path d="M320,18c-5.8,0-8.6-3.6-11.1-6.8C306.4,8,304.6,6,301.2,6s-5.2,2-7.7,5.2c-2.5,3.2-5.3,6.8-11.1,6.8
		c-5.8,0-8.6-3.6-11.1-6.8C268.7,8,267,6,263.5,6c-3.5,0-5.2,2-7.7,5.2c-2.5,3.2-5.3,6.8-11.1,6.8c-5.8,0-8.6-3.6-11.1-6.8
		C231.1,8,229.3,6,225.9,6c-3.5,0-5.2,2-7.7,5.2c-2.5,3.2-5.3,6.8-11.1,6.8s-8.6-3.6-11.1-6.8C193.4,8,191.7,6,188.2,6
		c-3.5,0-5.2,2-7.7,5.2c-2.5,3.2-5.3,6.8-11.1,6.8c-5.8,0-8.6-3.6-11.1-6.8C155.8,8,154,6,150.6,6s-5.2,2-7.7,5.2
		c-2.5,3.2-5.3,6.8-11.1,6.8c-5.8,0-8.6-3.6-11.1-6.8C118.1,8,116.4,6,112.9,6s-5.2,2-7.7,5.2c-2.5,3.2-5.3,6.8-11.1,6.8
		c-5.8,0-8.6-3.6-11.1-6.8C80.5,8,78.8,6,75.3,6s-5.2,2-7.7,5.2c-2.5,3.2-5.3,6.8-11.1,6.8s-8.6-3.6-11.1-6.8C42.8,8,41.1,6,37.6,6
		s-5.2,2-7.7,5.2c-2.5,3.2-5.3,6.8-11.1,6.8s-8.6-3.6-11.1-6.8C5.2,8,3.5,6,0,6V2c5.8,0,8.6,3.6,11.1,6.8c2.5,3.2,4.2,5.2,7.7,5.2
		s5.2-2,7.7-5.2C29,5.6,31.9,2,37.6,2s8.6,3.6,11.1,6.8C51.3,12,53,14,56.5,14s5.2-2,7.7-5.2C66.7,5.6,69.5,2,75.3,2
		s8.6,3.6,11.1,6.8c2.5,3.2,4.2,5.2,7.7,5.2s5.2-2,7.7-5.2c2.5-3.2,5.3-6.8,11.1-6.8s8.6,3.6,11.1,6.8c2.5,3.2,4.2,5.2,7.7,5.2
		s5.2-2,7.7-5.2C142,5.6,144.8,2,150.6,2c5.8,0,8.6,3.6,11.1,6.8c2.5,3.2,4.2,5.2,7.7,5.2c3.5,0,5.2-2,7.7-5.2
		c2.5-3.2,5.3-6.8,11.1-6.8c5.8,0,8.6,3.6,11.1,6.8c2.5,3.2,4.2,5.2,7.7,5.2c3.5,0,5.2-2,7.7-5.2c2.5-3.2,5.3-6.8,11.1-6.8
		c5.8,0,8.6,3.6,11.1,6.8c2.5,3.2,4.2,5.2,7.7,5.2c3.5,0,5.2-2,7.7-5.2c2.5-3.2,5.3-6.8,11.1-6.8c5.8,0,8.6,3.6,11.1,6.8
		c2.5,3.2,4.2,5.2,7.7,5.2c3.5,0,5.2-2,7.7-5.2c2.5-3.2,5.3-6.8,11.1-6.8s8.6,3.6,11.1,6.8c2.5,3.2,4.2,5.2,7.7,5.2"/>
  </g>
 </svg>
</div>

<style lang="scss">
 .wavyLine {
  width: 125px;
  height: 14px;
  overflow: hidden;
  
  @keyframes wavyLine {
   from {transform: translateX(0%)}
   to {transform: translateX(-23.5%)}
  }

  svg {
   height: 100%;
   fill: var(--color-secondary);
   animation: wavyLine 3s linear infinite

  }
 }
</style>