---
const { title, description, period, logo } = Astro.props;
---
<div class="job">
 <div class="job__card">
  <div class="card__logo">
   <img src="{ logo }" alt="{ title }">
  </div>
  <div class="card__text">
   <p class="card__period">

   </p>
   <p class="card__title">

   </p>
   <p class="card__description">

   </p>
  </div>
 </div>
</div>

<!-- https://codepen.io/sosuke/pen/Pjoqqp -->