---
const { id, text = "Button", icon, link = "#", extraClass } = Astro.props;
---
<div class={extraClass}>
 <a id={ id } href={ link } class="button">
  { text }<i class:list={['fa-regular',  icon ]}></i>
 </a>
</div>

 <style lang="scss">
  .button {
   padding: calc(var(--grid-block-m) + 2px) var(--grid-block-l) var(--grid-block-m) var(--grid-block-l);
   border-radius: 40px;
   background-color: var(--color-primary);
   border: 2px solid var(--color-primary);

   font-family: var(--font-family-title);
   font-size: var(--font-size-xs);
   line-height: 1;

   color: var(--color-light);
   text-decoration: none;

   display: inline-flex;
   flex-direction: row;
   align-items: baseline;
   gap: var(--grid-block-m);

   transition: all 0.15s ease-in-out;

   i {
    font-size: var(--font-size-xs);
   }

   &:hover {
    background-color: transparent;
    border: 2px solid var(--color-light);
   }
  }
 </style>