---
---
<section id="intro">
 <div class="container intro__container">
  <div class="intro__about">
   <p class="intro__text">
    Een <span class="intro__text--highlight">web</span>- en <span class="intro__text--highlight">e-mail developer</span> met een passie voor games, gadgets en cultuur uit Breda
   </p> 
  </div>
  <div class="intro__cards">
   <div class="card card--work">
    <div class="card__content">
     <p class="card__title">
      Werk
     </p>
     <p class="card__description">
      Websites coderen, e-mails bouwen, teksten schrijven en zelfs wat vormgeven. Het zit allemaal in mijn vingers.
     </p>
    </div>
    <a href="#work" class="card__link">Werkzaamheden</a>
   </div>
   <div class="card card--contact">
    <div class="card__content">
     <p class="card__title">
      Contact
     </p>
     <p class="card__description">
      Benieuwd geworden naar mijn werk, hoe ik je kan helpen of gewoon zin om eens te kletsen?
     </p>
    </div>
    <a href="#work" class="card__link">Neem contact op</a>
   </div>
  </div>
 </div>
</section>

<style lang="scss">
 @use '../styles/_mixins.scss' as *;

 .intro {
  &__container {
   display: flex;
   flex-direction: column;
   gap: var(--grid-gap);

   padding-block: 100px;

   border-bottom: 2px solid var(--color-secondary);
  }

  &__about {
   width: var(--grid-desktop-12);
  }

  &__text {
   font-size: var(--font-size-l);
   font-weight: 500;
   line-height: 1.4;

   &--highlight {
    color: var(--color-primary);
   }
  }

  &__cards {
   width: var(--grid-desktop-12);

   display: flex;
   flex-direction: column;
   gap: var(--grid-gap);

   .card {
    width: var(--grid-desktop-12);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__content {
     margin-bottom: 40px;
    }

    &__title {
     font-size: var(--font-size-m);
     font-weight: bold;
     line-height: 1.5;
    }

    &__description {
     line-height: 1.5;
    }

    &__link {
     position: relative;
     align-self: flex-end;
     
     color: var(--color-primary);
     text-decoration: none;

     &::before {
      content: '';
      position: absolute;
      top: 8px;
      left: -30px;

      width: 20px;
      height: 1px;
      background-color: var(--color-primary);
     }
     
    }
    &:hover {
     cursor: pointer;

     & .card {
      &__title {
       color: var(--color-primary);
      }

      &__link {
       &::before {
        width: 90px;
        left: -100px;
       }
      }
     }
    }
   }
  }
 }

 @include md {
  .intro {
   &__container {
    flex-direction: row;
   }

   &__about {
    width: var(--grid-desktop-6);
   }

   &__text {
    font-size: var(--font-size-xl);
   }

   &__cards {
    width: var(--grid-desktop-6);
    flex-direction: row;

    .card {
     width: var(--grid-desktop-6);
    }
   }
  }
 }
</style>