---
import ComponentJob from "../components/Component_Job.astro";
import ComponentWaveyLine from "../components/Component_WaveyLine.astro";

---
<section id="jobs">
 <div class="container jobs__container">
  <div class="jobs__title">
   <h2>
    Ook bekend van
   </h2>
   <ComponentWaveyLine></ComponentWaveyLine>
  </div>
  <div class="jobs__cards">
   <div class="swiper-wrapper">
    <ComponentJob title="Mad Pack & Brendly" logo="/img/logo_madpack.svg" description="Web development | Grafisch design | E-mail development" period="2023 - Heden"></ComponentJob>
    <ComponentJob title="Een Geanimeerd Gesprek" logo="/img/logo_eengeanimeerdgesprek.svg" description="Co-host | Producer | Web developer" period="2022 - Heden"></ComponentJob>
    <ComponentJob title="Iedereen vond dat leuk." logo="/img/logo_iedereenvonddatleuk.svg" description="Co-host | Producer | Web developer" period="2022 - Heden"></ComponentJob>
    <ComponentJob title="Pixel Vault" logo="/img/logo_pixelvault.svg" description="Uitgever | PR-manager | Web developer" period="2012 - Heden"></ComponentJob>
    <ComponentJob title="NRC Media" logo="/img/logo_nrc.svg" description="E-mail development | Project management | Product owner" period="2020 - 2023" logoHeight="25px"></ComponentJob>
    <ComponentJob title="Coolblue" logo="/img/logo_coolblue.svg" description="E-mail development | Project management" period="2016 - 2020"></ComponentJob>
    <ComponentJob title="Bax Music" logo="/img/logo_baxshop.svg" description="E-mail marketing | Project management" period="2014 - 2016" logoHeight="35px"></ComponentJob>
    <ComponentJob title="Ematters" logo="/img/logo_ematters.svg" description="Stage | E-mail development" period="2013 - 2014"></ComponentJob>
   </div>
  </div>
 </div>
</section>

<script>
 const swiper = new Swiper('.jobs__cards', {
  spaceBetween: 20,
  breakpoints: {
   768: {
    slidesPerView: 2,
   },
   1024: {
    slidesPerView: 3,
   }
  }
 });
</script>

<style lang="scss">
 #jobs {
  .jobs {
   &__container {
    padding-block: 50px;
   }

   &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--grid-block-l);

    h2 {
     font-size: var(--font-size-l);
     font-weight: 500;
    }
   }
  }
 }
</style>