@font-face {
 font-family: 'Rubik Mono One';
 src: url('/fonts/rubik-mono-one.woff2') format('woff2'),
     url('/fonts/rubik-mono-one.woff') format('woff');
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'Hubot Sans';
 src:
   url('/fonts/hubot-sans.woff2') format('woff2 supports variations'),
   url('/fonts/hubot-sans.woff2') format('woff2-variations'),
   url('/fonts/hubot-sans.woff') format('woff');
 font-weight: 200 900;
 font-stretch: 75% 125%;
}