---
import '../styles/_styles.scss';
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
	</head>
	<body>
  <slot></slot>

  <!-- Scripts -->
  <script src="https://kit.fontawesome.com/9f10018b23.js" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js" crossorigin="anonymous"></script>
  
  <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.19/bundled/lenis.min.js" crossorigin="anonymous"></script> 

  <script>
   // Lenis
   const lenis = new Lenis()
   lenis.on('scroll', (e) => {
    console.log(e)
   })

   function raf(time) {
    lenis.raf(time)
    requestAnimationFrame(raf)
   }

   requestAnimationFrame(raf);
  </script>
	</body>
</html>